.container{
    color: darkslategray;
    background-color: hotpink;
    width:90%;
    margin: auto;
}
body{
    background-image: url("media/camo.jpg");
}
.header{
    width:80%;
    height: 125px;
    /*background-color:papayawhip;*/
    text-align: center;
    vertical-align:middle;
    margin: auto;
    font-size: xx-large;
}
div.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url("media/camo.jpg");
    overflow: hidden;
    border-radius: 50px;
}
div.navbar li{
    float: left;
    border-right: 1px solid #c5b861;
    border-left: 1px solid #c5b861;
}
div.navbar li a{
    display: block;
    color: #c5b861;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div.navbar li a:hover:not(.active){
    background-color: #333322;
}
.active{
    background-color: #333333;
}
.content, .middle, .righ {
    float: left;
    width: 30%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: inline-block;
    overflow-wrap: break-word;
}
.content{
    font-size: 80px;
}
.middle {
    font-size: 100px;
    color: #ff00e3;
    text-align: center;
    animation: flicker 1.5s infinite alternate;
}
@-webkit-keyframes flicker {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 40px #fff,
                0 0 40px #ffffff,
                0 0 30px #3a5d5e,
                0 0 40px #374b56,
                0 0 50px #3a5d5e,
                0 0 60px #374b56,
                0 0 70px #3a5d5e;
    }

    20%, 24%, 55% {
                text-shadow: none;
    }
}
.row:after{
    content: "";
    display:table;
    clear: both;
}
.container:after{
    clear: both;
}
.righ{
    font-size: xxx-large;
}
.footer{
    text-align: center;
    padding: 20px;
    font-size: 25px;

}
div.footer a{
    text-decoration: none;
    color: #374b56;
}
.dropdown{
    float:left;
    overflow: hidden;
}
.dropdown .dropButton{
    font-size: 17px;
    border: none;
    outline: none;
    color: #c5b861;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin:0;
}
.dropdownContent{
    display: none;
    position: absolute;
    background-color: dimgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownContent a{
    float:none;
    color: #c5b861;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdownContent{
    display:block;
}
.dropdownContent a:hover{
    background-color: #ddd;
}
div.righ a{
    color: darkred;
}
.contentgal{

}
div.polaroid img{
    width: 250px;
    padding-top: 20px;
}
div.middleway {
    font-size: 100px;
    color: #0e070d;
    text-align: center;
    animation: flicker 1.5s infinite alternate;
}
@-webkit-keyframes flicker {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 40px #0e0808,
                0 0 40px #8220c4,
                0 0 30px #5e00ff,
                0 0 40px #7949d5,
                0 0 50px #7452ee,
                0 0 60px #4e0ec5,
                0 0 70px #5e00ff;
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}
div.righ img{
    width: 200px;
}
